$colors: (
  blues: (
    100: rgb(173, 215, 246),
    200: rgb(143, 187, 238),
    200b: rgba(143, 187, 238, 0.653),
    300: rgb(79, 139, 222),
    400: rgb(64, 110, 218),
    500: rgb(63, 81, 197),
    accent: rgb(158, 54, 77),
    border: rgb(161, 39, 39),
    top: rgb(231, 75, 51),
  ),
);
