body.basic-theme {
  --clr-100: rgb(244, 243, 238);
  --clr-200: rgb(188, 184, 177);
  --clr-200b: rgba(188, 184, 177, 0.673);
  --clr-300: rgb(104, 93, 86);
  --clr-400: rgb(138, 129, 124);
  --clr-500: rgb(70, 63, 58);
  --clr-accent: rgb(221, 148, 126);
  --clr-border: rgb(184, 124, 110);
  --clr-top: rgb(245, 193, 184);
}

body.disco-theme {
  --clr-100: rgb(29, 2, 67);
  --clr-200: rgb(193, 214, 31);
  --clr-200b: rgba(193, 214, 31, 0.627);
  --clr-300: rgb(255, 23, 145);
  --clr-400: rgb(181, 48, 217);
  --clr-500: rgb(105, 23, 208);
  --clr-accent: rgb(255, 101, 18);
  --clr-border: rgb(165, 30, 0);
  --clr-top: rgb(255, 160, 77);
}
