@use "../abstracts/variables" as *;

.screen {
  display: flex;
  position: relative;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  grid-column: span 4;
  margin-bottom: 15px;
  padding-left: 0.2rem;
  height: 5rem;
  font-family: var(--font-family);
  border-radius: 4px;
  box-shadow: 0 0 2px 1px var(--clr-200);
  background-color: var(--clr-400);
  overflow: hidden;
  p {
    padding-right: 1rem;
    font-size: 3rem;
    color: var(--clr-200);
  }
  p.small-font-screen {
    font-size: 2rem;
  }
  span.small-equation {
    position: absolute;
    top: 5px;
    left: 5px;
    padding-right: 0.8rem;
    color: var(--clr-200b);
    font-size: 0.8rem;
  }
  @media (min-width: 480px) {
    height: 6rem;
    p {
      font-size: 3.4rem;
    }
    p.small-font-screen {
      font-size: 2.2rem;
    }
    span.small-equation {
      font-size: 1.2rem;
    }
  }
  @media (min-width: 768px) {
    height: 8rem;
    margin-bottom: 10px;
    p {
      font-size: 4.4rem;
    }
    p.small-font-screen {
      font-size: 2.8rem;
    }
    span.small-equation {
      font-size: 2rem;
    }
  }
  @media (orientation: landscape) {
    height: 5rem;
    margin-bottom: 0.8rem;
    p {
      font-size: 2.8rem;
    }
    p.small-font-screen {
      font-size: 1.4rem;
    }
    span.small-equation {
      font-size: 1rem;
    }
  }
  @media (orientation: landscape) and (min-width: 768px) {
    height: 6.2rem;
    p {
      font-size: 3rem;
    }
    p.small-font-screen {
      font-size: 2rem;
    }
    span.small-equation {
      font-size: 1.5rem;
    }
  }
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.6rem;
  padding: 1.5rem;
  min-width: 60vw;
  min-height: 40vh;
  background-color: var(--clr-500);
  border-radius: 1rem;
  box-shadow: 0 0 3px 1px var(--clr-500);
  .add {
    grid-row: span 2;
  }
  @media (min-width: 480px) {
    gap: 0.7rem;
  }
  @media (min-width: 768px) {
    gap: 1.1rem;
  }
  @media (orientation: landscape) {
    min-width: 85vw;
    min-height: 50vh;
    gap: 0.6rem;
  }
  @media (orientation: landscape) and (min-width: 768px) {
    min-width: 30vw;
    gap: 1rem;
  }
}
.grid-calculator-span {
  grid-column: span 2;
}
